*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #333;
    display: flex;
    justify-content: center;
    height: 100vh;
}
.container {
    max-width: 800px;
    width: 800px;
    background: rgb(3, 155, 160);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin:auto;
    border-radius: 30px;
}
.boxs {     
    margin: 5px 5px;
    display: flex;
    flex-wrap: wrap;
}

.box {
    display: flex;
    flex-wrap: wrap;
    width:calc(600px/3);
    height:calc(600px/3);
    background: black;
    border-radius:20px;
    margin:10px auto;
}